h1, h5, h6 {
  font-family: "Roboto", sans-serif;
}

#menu-section {
  background-color: #EEEEEE;
  padding: 10px;
}

.menu li {
  padding-top: 5px;
}

.menu a {
  color: #333333;
}

#opening {
  background-color: #fff;
  padding: 45px;
}

.clock i {
  font-size: 60px;
  margin-top: 2px;
}

.opening input, i {
  margin-top: 20px;
}

#hero-section {
  background-color: #EEEEEE;
}

.hero a {
  color: #333333;
  margin-left: 20px;
}

.hero a:hover {
  background-color: #E48080;
  text-decoration: none;
  color: #fff;
  padding: 23px;
}

.list {
  margin-top: 20px;
}

.shopping {
  background-color: #514849;
}

.primero {
  background-color: #fff;
  width: 250px;
  position: absolute;
  right: 100px;
}

.segundo {
  width: 250px;
  background-color: #fff;
  position: absolute;
  right: 100px;
  z-index: 1;
  opacity: 0.8;
}

#arrival {
  padding: 40px;
}

.products a {
  color: #898989;
}

.products a:hover {
  text-decoration: none;
  color: #333333;
}

.clients {
  background: url("../images/client-bg.jpg");
}
